@media(min-width:767px) {
  .navbar {
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
      padding: 0;
  }
}

.progress {
  background: #CFD8DC;
}

.progress-bar {
  background: #37474F;
}


.skills-image {
  height: 75px;
  width: 75px
}

.parallax {
  background-image: url("images/wallpaper.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tech-used {
  font-size: 18px
}

.github-button {
  border: 4px solid #fff;
  border-radius: 0;
  background: transparent;
  color: #fff;
  padding-top: -20px;
}

a.github-button:hover {
  color: #fff;
}
a.github-button:visited {
  color: #fff;
}

.button-font {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.section {
  min-height: 100vh;
}

.project-image {
  height: 100;
  width: 100;
}

#home {
  color: white;
  padding-top: 30vh;
}

#skills {
  min-height: 100vh;
  padding-top: 50px;
}

#main-pic {
  margin-top: -15px;
	width: 50px;
	height: 50px;
}

#projects {
  padding-top: 50px;
  background: #fafafa;
  padding-bottom: 50px;
}

#contact {
  padding-top: 50px;
  background: #fafafa;

}

.contact-me {
  min-height: 30vh;
  background: #1B2E3A;
  margin-top: 10vh;
  color: #bdbdbd;
  padding-top: 10vh;
}

@media (max-width: 380px) {
  .contact-me {
    min-height: 30vh;
    background: #1B2E3A;
    margin-top: 10vh;
    color: #bdbdbd;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .contact-button {
    max-width: 120px;
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .contact-me {
    min-height: 30vh;
    background: #1B2E3A;
    margin-top: 10vh;
    color: #bdbdbd;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .contact-button {
    max-width: 120px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .contact-me {
    min-height: 30vh;
    background: #1B2E3A;
    margin-top: 10vh;
    color: #bdbdbd;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .contact-button {
    max-width: 120px;
    font-size: 12px;
  }
}

.contact-button {
  margin: 10px;
  width: 175px;
}

.project-desc {
  color: #696969;
  margin-top: 20px;
  margin-bottom: 20px;
}

.media-object {
  height: 300px;
  width: auto;
}

.fa-5x {
  margin-right: 20px;
  margin-bottom: 10px;
}

.fa-5x:hover {
  text-decoration: none;
}

.fa-5x:link {
  text-decoration: none;
}

.fa-5x:visited {
  text-decoration: none;
}

.fa-5x:active {
  text-decoration: none;
}

.media-body {
  padding-top: 20px;
  padding-left: 20px;
}

.media-heading {
  padding-bottom: 10px;
}

.thumbnail {
  border: none;
}

.thumbnail>img {
  height: 100px;
}

.reflecti {
  height: 500px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.media-right {
  height: 500px;
  width: 500px;
}

.media {
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-label {
  margin-left: 10px;
}
